@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-gradient {
    background-image: linear-gradient(to bottom, #FF007A 0%, #fff 100%);
    opacity: 20%;
}

.nav-icon {
    opacity: 0;
}

.nav-link:hover .nav-icon {
    opacity: 100%;
}

.gradeBG {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,0,122,0.24) 100%);
}